@model IEnumerable<SportsStore.Models.Domain.Product>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>In Stock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model) {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.InStock</td>
            </tr>
        }

    </tbody>
</table>

